// mixins

$prefixList: -webkit-, -moz-, -ms-, -o-, '';

@mixin css3( $property, $value ) {
	@each $prefix in $prefixList {
		#{$prefix}#{$property}: $value;
	}
}

@mixin transition( $value ) {
	@include css3( transition, $value );
}

@mixin transform( $value ) {
	@include css3( transform, $value );
}

@mixin font-size( $size, $base:16px ) {
	font-size: $size;
	font-size: ($size / $base) * 1rem;
}

@mixin opacity( $opacity ) {
	opacity: $opacity;
	filter: alpha( opacity=($opacity * 100) );
}

@mixin centered( $pos:50% ) {
	top: $pos;
	left: $pos;
	@include transform( translateX(-#{$pos}) translateY(-#{$pos}) );
}

@mixin imgRetina($imgPath, $extension, $width, $height) {
	width: $width;
	height: $height;
	background: url($imgPath + '.' + $extension) no-repeat;
	background-size: contain;
	@media (min--moz-device-pixel-ratio: 1.3),
			(-o-min-device-pixel-ratio: 2.6/2),
			(-webkit-min-device-pixel-ratio: 1.3),
			(min-device-pixel-ratio: 1.3),
			(min-resolution: 1.3dppx) {
		background-image: url($imgPath + '@2x' + '.' + $extension);
	}
}